@mixin cmp-sidebar($bg-color, $pill-color, $pill-bg-color, $pill-highlight-color, $offset-top, $fixed-sidebar-breakpoint, $border-top-color, $border-bottom-color) {

  @media (min-width: $fixed-sidebar-breakpoint) {
    .cmp-sidebar {
      position: fixed;
      top: $offset-top;
      overflow-y: auto;
    }
  }

  .cmp-sidebar {
    height: 100%;
    background-color: $bg-color;
    border-top: solid 1px $border-top-color;

    padding-left: 0;
    padding-right: 0;

    .section-title {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 10px;

      &:first-child {
        padding-top: 10px;
      }
    }

    .ui-select-container {
      width: 100%;

      .selectize-dropdown {
        left: -1px;
      }
    }
    .selectize-control.single .selectize-input {
      color: $pill-color;
      margin-left: -1px;
      border-top: 0;
      // border-color: #E5E5E5;
      background: none;
    }

    ul.nav-stacked + ul.nav-stacked {
      margin-top: 5px;
    }

    .nav-stacked > li + li {
      margin-top: 0;
    }

    .nav-pills > li {

      &.section-title {
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: solid 1px $border-bottom-color;
      }

      $pill-hover-bg-color: lighten($pill-bg-color, 20%);
      $pill-highlight-border-width: 3px;

      & > a {
        color: $pill-color;
        background-color: $pill-bg-color;

        border-radius: 0;
        border-top: solid 1px $border-top-color;
        border-bottom: solid 1px $border-bottom-color;
        border-left: solid $pill-highlight-border-width $pill-bg-color;

        &:hover {
          background-color: $pill-hover-bg-color;
          border-top: solid 1px $pill-hover-bg-color;
        }
        .glyphicon {
          margin-right: 5px;
        }
      }

      &.active > a {
        background-color: lighten($pill-bg-color, 10%);
        border-left: solid $pill-highlight-border-width $pill-highlight-color;
        &:hover {
          background-color: $pill-hover-bg-color;
        }
      }
    }
  }
}
