<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div ng-include="'bower_components/hotrod-components/src/messages/messages.html'"></div>
    <div class="container-fluid" ng-controller="NavToggleCtrl">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="toggleNavCollapse()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="app.home({ timepick: timepickParamsStr })">
                <span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span>
                <!--<img src="images/logo.png" class="logo" />-->
                {{appName}}
            </a>
        </div>

        <div class="navbar-collapse timepicker-navbar-wrap"
             ng-class="{ collapse: !timepicker.show, collapsing: timepicker.show }"
             id="navbar-collapse" ng-controller="TimePickerCtrl" collapse="isCollapsed">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <button type="button" ng-controller="StatusCtrl" class="btn btn-link navbar-btn btn-status"
                            ng-class="{ 'btn-status-online': status.status, 'btn-status-offline': !status.status }"
                            ng-click="showStatus()">
                        <i class="icon ion-ios-pulse-strong"></i>
                        {{status.message}}
                    </button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="AuthCtrl" ng-show="loggedInUsername" prevent-timepick-close-on-click>
                <li class="timepicker-links duration">
                    <a ng-click="toggleTimepicker('filter'); toggleNavCollapse()">
                        <span>
                            <span class="glyphicon glyphicon glyphicon-time" aria-hidden="true"></span>
                            <pretty-duration from="timefilter.from" to="timefilter.to"></pretty-duration>
                        </span>
                    </a>
                    <a ng-click="toggleTimepicker('aggInterval'); toggleNavCollapse()">
                        <span ng-if="timefilter.aggInterval.shortDescription">
                            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                            per {{timefilter.aggInterval.shortDescription}}
                        </span>
                    </a>
                    <a ng-click="toggleTimepicker('interval'); toggleNavCollapse()" ng-show="timefilter.refreshInterval.value > 0">
                        <span >
                            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                            {{timefilter.refreshInterval.display}}
                        </span>
                    </a>
                </li>
                <li class="timepicker-refresh">
                    <button class="btn btn-success navbar-btn btn-refresh" ng-click="refresh()">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    </button>
                </li>
                <li class="dropdown" ng-if="authData.username">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{authData.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-controller="ChangePasswordCtrl" ng-click="changePassword()">Change Password</a></li>
                        <li><a href="#" ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<kbn-timepicker class="kbn-timepicker-wrap"
                ng-class="{ 'open': timepicker.show, 'closed': !timepicker.show }"
                active-tab="timepicker.tab"
                from="timefilter.from"
                to="timefilter.to"
                mode="timefilter.mode"
                interval="timefilter.refreshInterval"
                agg-interval="timefilter.aggInterval"
                show="timepicker.show">
</kbn-timepicker>

<div class="container-fluid container-content full-height" ng-class="{ 'timepicker-open': timepicker.show }">
    <div class="row full-height">
        <div ui-view="sidebar"></div>
        <div ui-view="content"></div>
    </div>
</div>
