@import "theme-variables";

@import "../../bower_components/hotrod-charts/lib/styles";
@import "../../bower_components/hotrod-timepicker/lib/timepicker";
@import "../../components/home/home";
@import "../../components/sidebar/sidebar";

.cmp-login {
  .logo-wrap {
    text-align: center;
    margin-top: -15px;
    margin-bottom: -3px;
  }
  form {
    margin-bottom: 12px;
    .form-group.password {
      margin-bottom: 25px;
    }
  }
}

.navbar-fixed-top .navbar-brand img.logo {
  width: 23px;
  height: 28px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

@include hotrod-timepicker($navbar-height, $navbar-default-bg, $text-color, $navbar-default-bg, $nav-section-border);
@include hotrod-data-table($multisort-dir-color: $brand-success);

// Note: $navbar-height + 1px so top border can be seen
@include cmp-sidebar($navbar-default-bg, $component-active-color, $component-active-bg, $company-brand-color, $navbar-height + 1px, $screen-sm, $navbar-default-bg, $nav-section-border);
@include cmp-home($brand-success, $brand-warning);
