@import "../../bower_components/hotrod-charts/lib/styles";
@import "../../bower_components/hotrod-timepicker/lib/timepicker";
@import "../../components/home/home";
@import "../../components/sidebar/sidebar";

$brand-primary: #313232;
$brand-success: #6B993E;
$brand-info: #3498DB;
$brand-warning: #F39C12;
$brand-danger: #E74C3C;
$company-brand-color: #FFF101;

$body-bg: #CBCACA;
$navbar-default-bg: #313232;
$nav-section-border: #111;

$navbar-height: 51px;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 20%);

.navbar-fixed-top .navbar-brand img.logo {
  width: 23px;
  height: 28px;
  position: relative;
  top: -2px;
  margin-right: 5px;
}

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #7b8a8b;
$gray:                   #95a5a6;
$gray-light:             #b4bcc2;
$gray-lighter:           #ecf0f1;

$dropdown-link-color: lighten($gray-base, 20%);

//----------------------------------------------------------
// Pagination
$pagination-color:                     $gray-dark;
$pagination-bg:                        #fff;
$pagination-border:                    $gray-lighter;

$pagination-active-color:              #fff;
$pagination-active-bg:                 $brand-success;
$pagination-active-border:             $pagination-border;

$pagination-hover-color:               $pagination-color;
$pagination-hover-bg:                  $gray-lighter;
$pagination-hover-border:              $pagination-border;

$pagination-disabled-color:            $gray-light;
$pagination-disabled-bg:               $pagination-bg;
$pagination-disabled-border:           $pagination-border;
//----------------------------------------------------------

@import "../themes/flatly/variables";

@include hotrod-timepicker($navbar-height, $navbar-default-bg, $text-color, $navbar-default-bg, $nav-section-border);
@include hotrod-data-table($multisort-dir-color: $brand-success);

// Note: $navbar-height + 1px so top border can be seen
@include cmp-sidebar($navbar-default-bg, $component-active-color, $component-active-bg, $company-brand-color, $navbar-height + 1px, $screen-sm, $navbar-default-bg, $nav-section-border);
@include cmp-home($brand-success, $brand-warning);
