@mixin font-face($family-name, $font-dir, $name, $weight: false, $style: false) {
  @font-face {
    font-family: quote($family-name);
    src: url('#{$font-dir}/#{$name}.eot');
    src: url('#{$font-dir}/#{$name}.eot?#iefix') format('embedded-opentype'),
    url('#{$font-dir}/#{$name}.woff') format('woff'),
    url('#{$font-dir}/#{$name}.ttf') format('truetype'),
    url('#{$font-dir}/#{$name}.svg##{$family-name}') format('svg');
    @if $weight {
      font-weight: $weight;
    }
    @if $style {
      font-style: $style;
    }
  }
}