@import "../../bower_components/hotrod-components/src/messages/messages";
@import "../../bower_components/hotrod-components/src/auth/login/login";
@import "../../bower_components/hotrod-charts/lib/styles";
@import "../../bower_components/hotrod-timepicker/lib/timepicker";

@import "../../components/home/home";
@import "../../components/sidebar/sidebar";
@import "ui-select";
@import "typography";
@import "theme";

@include font-face('Lato', '../fonts/Lato', 'lato-regular-webfont');
@include font-face('Lato', '../fonts/Lato', 'lato-bold-webfont', bold);

html {
  position: relative;
}

html, body, .full-height {
  min-height: 100%;
}

$footerHeight: 22px;
body {
  background-color: $body-bg;
  margin-bottom: $footerHeight;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  height: $footerHeight;
  line-height: $footerHeight;
  padding: 0 5px;
  background-color: #f5f5f5;
  text-align: center;
}

.navbar-fixed-top .navbar-brand {
  padding-top: 13px;
  img.logo {
    display: inline;
    // The rest of the logo styles are defined in _theme.scss
  }
}

.cmp-login {
  padding-top: $navbar-height + 20px; /* Required for bootstrap fixed-top navbar */
  .panel-footer {
    text-align: center;
    color: $gray;
    a {
      color: $gray-dark;
    }
  }
}

/* moz-specific fix for Bootstrap responsive tables. See Bootstrap docs http://getbootstrap.com/css/#tables */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

a {
  cursor: pointer;
}

.modal-backdrop {
  /* Not sure why this has to be added*/
  bottom: 0;
}
.modal-dialog {
  margin-top: 80px;
}

.navbar-btn {
  padding: 6px 12px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.navbar .glyphicon-user {
  margin-right: 5px;
  top: 2px;
}

.btn-link.btn-status {
  &:hover, &:focus {
    text-decoration: none;
  }
}
.navbar-default .btn-link.btn-status-online {
  color: $brand-success;
}
.navbar-default .btn-link.btn-status-offline {
  color: $brand-warning;
}

.dropdown-settings {
  border-right: solid 1px $nav-section-border;
}

@include hotrod-timepicker($navbar-height, $navbar-default-bg, $text-color, $navbar-default-bg, $nav-section-border);
@include hotrod-data-table($multisort-dir-color: $brand-success);

// Note: $navbar-height + 1px so top border can be seen
@include cmp-sidebar($navbar-default-bg, $component-active-color, $component-active-bg, $company-brand-color, $navbar-height + 1px, $screen-sm, $navbar-default-bg, $nav-section-border);
@include cmp-home($brand-success, $brand-warning);

.content {
  padding-top: 15px;
}
.cmp-content {
  padding-left: 30px;
  padding-right: 30px;

  h2:first-of-type, h3:first-of-type {
    margin-top: 0;
  }
}

.navbar-header .navbar-brand .glyphicon-globe {
  top: 2px;
}

.navbar-fixed-top {
  border-bottom: 1px solid $navbar-default-bg;
}

// Specific style for site-select li
.nav-pills.nav-stacked.site-select > li {
  border: none;
  &:not(.section-title) {
    padding: 0 10px;
  }
}
