.cmp-messages {
  position: relative;
  z-index: 1; }
  .cmp-messages .alert {
    position: absolute;
    left: 20%;
    right: 20%;
    top: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.98; }
  .cmp-messages .fade {
    transition: 0.2s linear all;
    opacity: 1; }
  .cmp-messages .fade.ng-hide {
    opacity: 0; }

.cmp-login .panel {
  width: 350px;
  margin: 0 auto; }
.cmp-login form {
  margin: 0 15px; }

.select2 > .select2-choice.ui-select-match {
  /* Because of the inclusion of Bootstrap */
  height: 29px; }

.selectize-control > .selectize-dropdown {
  top: 36px; }

.selectize-input input {
  color: #fff; }

.panel-table .hotrod-data .graph-loading {
  top: inherit;
  right: inherit;
  bottom: 11px;
  left: 6px; }

.graph-loading, .graph-error {
  float: right;
  width: 20px;
  margin-left: -20px;
  margin-top: -2px; }

.graph-error {
  cursor: pointer;
  color: #a94442; }

.hotrod-vis-wrap {
  position: relative;
  display: block; }

.interval-limited-msg {
  position: absolute;
  right: -6px;
  top: -7px;
  padding: 5px; }

.cmp-login .logo-wrap {
  text-align: center;
  margin-top: -15px;
  margin-bottom: -3px; }
.cmp-login form {
  margin-bottom: 12px; }
  .cmp-login form .form-group.password {
    margin-bottom: 25px; }

.navbar-fixed-top .navbar-brand img.logo {
  width: 23px;
  height: 28px;
  position: relative;
  top: -2px;
  margin-right: 5px; }

.kbn-timepicker-wrap .kbn-timepicker.panel {
  padding-top: 51px;
  border-left: solid 5px #313232;
  border-right: solid 5px #313232;
  border-bottom: solid 9px #313232;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.container-content {
  padding-top: 51px; }

@media only screen and (max-width: 1023px) {
  .kbn-timepicker-wrap.closed .kbn-timepicker {
    display: none; }

  .container-content.timepicker-open {
    padding-top: 10px; } }
@media only screen and (min-width: 1024px) {
  /* Only do timepicker animation for larger devices or desktops */
  .kbn-timepicker-wrap .kbn-timepicker.panel {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    margin-top: -238px; }

  .kbn-timepicker-wrap.open .kbn-timepicker {
    margin-top: 0px; }

  .kbn-timepicker-wrap.closed .kbn-timepicker {
    margin-top: -238px; }

  .kbn-timepicker-wrap {
    position: fixed;
    z-index: 1029;
    width: 100%; }

  .container-content {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }

  .container-content.timepicker-open {
    padding-top: 289px; } }
@media only screen and (min-width: 768px) {
  .navbar-fixed-top .timepicker-navbar-wrap {
    /* Avoid navbar flicker from js collapse() calls when navbar is not collapsed into button */
    height: auto !important;
    /* Padding fix to stop horizontal scrollbar on windows */
    padding-right: 15px;
    padding-left: 15px;
    /* Make sure this is reset after opening timepicker. Otherwise profile menu dropdown is hidden */
    overflow-y: visible; } }
@media only screen and (max-width: 767px) {
  /* Styles for phones */
  .kbn-timepicker .col-mode-select {
    margin-bottom: 10px; }

  .links-section li {
    margin-bottom: 10px;
    /* Give a bit more room to tap */ }

  .kbn-timepicker-section {
    clear: left; } }
/* Make sure no bottom margin so clicking just outside timepicker will close it */
.kbn-timepicker-wrap .kbn-timepicker.panel,
.kbn-timepicker {
  margin-bottom: 0; }

.kbn-timepicker {
  background-color: #F3F3F4; }
  .kbn-timepicker a {
    cursor: pointer; }
  .kbn-timepicker .nav-tabs li .glyphicon {
    margin-right: 4px;
    position: relative;
    top: 2px; }
  .kbn-timepicker .nav-tabs a {
    background-color: #EBEBEB;
    color: #313232; }
  .kbn-timepicker .nav-tabs .active a, .kbn-timepicker .nav-tabs .active a:focus {
    background-color: #fff; }
  .kbn-timepicker .tab-content {
    padding: 10px 10px 15px 10px;
    background-color: #fff; }
  .kbn-timepicker .closer {
    clear: both;
    margin-left: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    background-color: #ddd;
    border-radius: 0 0 3px 3px;
    border-left: solid 1px #313232;
    border-right: solid 1px #313232;
    cursor: pointer; }
    .kbn-timepicker .closer a {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      text-align: center;
      color: #313232; }

.kbn-timepicker .input-datetime-format {
  font-size: 12px;
  color: #b4bcc2;
  padding: 5px 15px;
  position: absolute;
  bottom: -26px;
  left: 8px; }
.kbn-timepicker .btn-default {
  background-color: #FFF;
  color: #2C3E50; }
.kbn-timepicker .tab-pane {
  min-height: 140px; }

.navbar .timepicker-links {
  border-left: solid 1px #111;
  padding-left: 15px;
  padding-right: 15px; }
  .navbar .timepicker-links a {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }
  .navbar .timepicker-links.repeat .glyphicon, .navbar .timepicker-links.duration .glyphicon {
    margin-right: 2px;
    position: relative;
    top: 2px; }
  .navbar .timepicker-links .btn-refresh {
    margin-left: 10px;
    padding: 6px 10px; }

.navbar .timepicker-refresh {
  border-left: solid 1px #111;
  border-right: solid 1px #111;
  padding-left: 15px;
  padding-right: 15px; }

.kbn-timepicker [kbn-time-input] {
  text-align: center; }

.kbn-timepicker-modes {
  text-transform: capitalize; }
  .kbn-timepicker-modes a {
    color: #2C3E50; }

.kbn-timepicker-section {
  float: left;
  padding: 0px 15px; }

.kbn-refresh-section {
  float: left;
  padding: 0px 15px; }

.kbn-agg-intervals-section {
  float: left;
  padding: 0px 20px; }
  .kbn-agg-intervals-section:first-child {
    padding-left: 5px; }
  .kbn-agg-intervals-section .checkbox {
    margin-top: 0; }
  .kbn-agg-intervals-section span.disabled {
    color: #B3B3B3; }
  .kbn-agg-intervals-section ul {
    margin-bottom: 0; }

.kbn-timepicket-alert {
  width: 100px; }

.kbn-timepicker-absolute .dropdown-menu {
  top: 40px !important; }
.kbn-timepicker-absolute .date-compare-error {
  margin-left: 10px; }
.kbn-timepicker-absolute .input-group-btn button {
  border: 2px solid #dce4ec;
  padding-top: 9px;
  padding-bottom: 9px; }

.panel-table {
  border: none; }
  .panel-table .navbar-header .navbar-brand .glyphicon {
    margin-right: 5px; }
  .panel-table tbody > tr > th {
    background-color: #eee;
    border: solid 1px #ccc; }
    .panel-table tbody > tr > th:first-of-type {
      border-left: none; }
    .panel-table tbody > tr > th:last-of-type {
      border-right: none; }
  .panel-table th a:not(.btn) {
    display: inline-block;
    text-decoration: none; }
  .panel-table th a.hotrod-sort {
    color: #415b76;
    width: 100%; }
    .panel-table th a.hotrod-sort .glyphicon {
      top: 2px;
      margin-left: 10px; }
    .panel-table th a.hotrod-sort .multisort-glyph {
      float: right;
      top: 4px; }
    .panel-table th a.hotrod-sort .multisort-dir {
      min-width: 15px;
      color: #6B993E; }
    .panel-table th a.hotrod-sort .multisort-index {
      visibility: hidden;
      color: #D0D0D0;
      vertical-align: super;
      font-size: 75%;
      margin-left: 4px; }
    .panel-table th a.hotrod-sort:hover .multisort-index {
      visibility: visible; }
  .panel-table .graph-loading, .panel-table .graph-error {
    margin: 0;
    float: inherit;
    position: absolute;
    right: 6px;
    top: 8px; }
  .panel-table .panel-body {
    padding: 0; }
    .panel-table .panel-body table {
      margin-bottom: -1px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      .panel-table .panel-body table th:first-of-type,
      .panel-table .panel-body table td:first-of-type {
        border-left: none; }
      .panel-table .panel-body table td:last-of-type {
        border-right: none; }
      .panel-table .panel-body table th:last-of-type {
        border-right: solid 1px #eee; }
    .panel-table .panel-body .pager-wrap {
      text-align: center;
      height: 43px; }
      .panel-table .panel-body .pager-wrap .spinner {
        position: relative;
        top: 10px;
        right: 8px;
        width: 20px;
        margin-left: -20px; }
    .panel-table .panel-body .pagination {
      margin-top: 6px;
      margin-bottom: 0; }
  .panel-table .navbar {
    min-height: 45px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0; }
    .panel-table .navbar .input-icon-left .glyphicon {
      left: 28px;
      top: 4px; }
    .panel-table .navbar .input-icon-left input {
      padding-left: 33px; }
  .panel-table .navbar-brand {
    padding-top: 11px;
    padding-bottom: 10px;
    height: 45px; }
  .panel-table .navbar-form {
    margin-top: 6px;
    margin-bottom: 6px; }
  .panel-table .form-control {
    padding-top: 0;
    padding-bottom: 0;
    height: 33px;
    border: none; }

@media (min-width: 768px) {
  .cmp-sidebar {
    position: fixed;
    top: 52px;
    overflow-y: auto; } }
.cmp-sidebar {
  height: 100%;
  background-color: #313232;
  border-top: solid 1px #313232;
  padding-left: 0;
  padding-right: 0; }
  .cmp-sidebar .section-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 10px; }
    .cmp-sidebar .section-title:first-child {
      padding-top: 10px; }
  .cmp-sidebar .ui-select-container {
    width: 100%; }
    .cmp-sidebar .ui-select-container .selectize-dropdown {
      left: -1px; }
  .cmp-sidebar .selectize-control.single .selectize-input {
    color: #fff;
    margin-left: -1px;
    border-top: 0;
    background: none; }
  .cmp-sidebar ul.nav-stacked + ul.nav-stacked {
    margin-top: 5px; }
  .cmp-sidebar .nav-stacked > li + li {
    margin-top: 0; }
  .cmp-sidebar .nav-pills > li.section-title {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: solid 1px #111; }
  .cmp-sidebar .nav-pills > li > a {
    color: #fff;
    background-color: #313232;
    border-radius: 0;
    border-top: solid 1px #313232;
    border-bottom: solid 1px #111;
    border-left: solid 3px #313232; }
    .cmp-sidebar .nav-pills > li > a:hover {
      background-color: #636666;
      border-top: solid 1px #636666; }
    .cmp-sidebar .nav-pills > li > a .glyphicon {
      margin-right: 5px; }
  .cmp-sidebar .nav-pills > li.active > a {
    background-color: #4a4c4c;
    border-left: solid 3px #FFF101; }
    .cmp-sidebar .nav-pills > li.active > a:hover {
      background-color: #636666; }

.cmp-home .navbar-form .search {
  min-width: 20em; }

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/lato-regular-webfont.eot");
  src: url("../fonts/Lato/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/lato-regular-webfont.woff") format("woff"), url("../fonts/Lato/lato-regular-webfont.ttf") format("truetype"), url("../fonts/Lato/lato-regular-webfont.svg#Lato") format("svg"); }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/lato-bold-webfont.eot");
  src: url("../fonts/Lato/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato/lato-bold-webfont.woff") format("woff"), url("../fonts/Lato/lato-bold-webfont.ttf") format("truetype"), url("../fonts/Lato/lato-bold-webfont.svg#Lato") format("svg");
  font-weight: bold; }
html {
  position: relative; }

html, body, .full-height {
  min-height: 100%; }

body {
  background-color: #CBCACA;
  margin-bottom: 22px; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  height: 22px;
  line-height: 22px;
  padding: 0 5px;
  background-color: #f5f5f5;
  text-align: center; }

.navbar-fixed-top .navbar-brand {
  padding-top: 13px; }
  .navbar-fixed-top .navbar-brand img.logo {
    display: inline; }

.cmp-login {
  padding-top: 71px;
  /* Required for bootstrap fixed-top navbar */ }
  .cmp-login .panel-footer {
    text-align: center;
    color: #95a5a6; }
    .cmp-login .panel-footer a {
      color: #7b8a8b; }

/* moz-specific fix for Bootstrap responsive tables. See Bootstrap docs http://getbootstrap.com/css/#tables */
@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }
a {
  cursor: pointer; }

.modal-backdrop {
  /* Not sure why this has to be added*/
  bottom: 0; }

.modal-dialog {
  margin-top: 80px; }

.navbar-btn {
  padding: 6px 12px;
  margin-top: 7.5px;
  margin-bottom: 7.5px; }

.navbar .glyphicon-user {
  margin-right: 5px;
  top: 2px; }

.btn-link.btn-status:hover, .btn-link.btn-status:focus {
  text-decoration: none; }

.navbar-default .btn-link.btn-status-online {
  color: #6B993E; }

.navbar-default .btn-link.btn-status-offline {
  color: #F39C12; }

.dropdown-settings {
  border-right: solid 1px #111; }

.content {
  padding-top: 15px; }

.cmp-content {
  padding-left: 30px;
  padding-right: 30px; }
  .cmp-content h2:first-of-type, .cmp-content h3:first-of-type {
    margin-top: 0; }

.navbar-header .navbar-brand .glyphicon-globe {
  top: 2px; }

.navbar-fixed-top {
  border-bottom: 1px solid #313232; }

.nav-pills.nav-stacked.site-select > li {
  border: none; }
  .nav-pills.nav-stacked.site-select > li:not(.section-title) {
    padding: 0 10px; }

/*# sourceMappingURL=styles.css.map */
